<div class="">
  <div class="col-sm-6 col-sm-offset-3">
    <h1><span class="fa fa-sign-in"></span>New Admin </h1>
    
    <ul>Admin List
      <li ng-repeat="admin in admins" >{{ admin }}<button ng-click="delete(admin)">delete</button></li>
    </ul>
 
    <!-- REGISTER FORM -->
    <form name="addAdminForm" novalidate>
      
      <div class="form-group" ng-class="{ 'has-error' : addAdminForm.email.$invalid && !addAdminForm.email.$pristine}">
	<label>Email</label>
	<input type="email" class="form-control" name="email" ng-model="addAdmin.email" required>
	<p ng-show="addAdminForm.email.$invalid && !addAdminForm.email.$pristine" class="help-block">enter a valid email.</p>
      </div>
      
      <div class="form-group" ng-class="{ 'has-error' : addAdminForm.password.$invalid && !addAdminForm.password.$pristine }">
	<label>Password</label>
	<input type="password" class="form-control" name="password" ng-model="addAdmin.password" ng-minlength="3" ng-maxlength="20" required>
	<p ng-show="addAdminForm.password.$error.minlength" class="help-block">Password is too short.</p>
        <p ng-show="addAdminForm.password.$error.maxlength" class="help-block">Password is too long.</p>
      </div>

      <button type="submit" class="btn btn-warning btn-lg" ng-click="addAdmin.submit(addAdminForm.$valid)" ng-disabled="addAdminForm.$invalid">Register</button>
    
    </form>

  </div>
</div>
