<div>
  
  <button id="btn1" ng-click="addAdmin()" >add-admin</button>
  <button id="btn2" ng-click="logout()" >logout</button>

<!-- HOME FORM -->  
<form name="homeForm" novalidate>
  <div class="form-group" ng-class="{ 'has-error' : homeForm.hometext.$invalid && !homeForm.hometext.$pristine} ">
    <label>Home</label>
    <input type="text" class="form-control" name="hometext" ng-model="home.homeText" required>
  </div>

  <div class="form-group" ng-class="{ 'has-error' : homeForm.homeUrl.$invalid && !homeForm.homeUrl.$pristine} ">
    <label>Home image</label>
    <input type="text" class="form-control" name="homeUrl" ng-model="home.homeUrl" required>
  </div>
  
  <button type="submit" class="btn btn-warning btn-lg" ng-click="home.submit(homeForm.$valid)" ng-disabled="homeForm.$invalid">Submit</button>
</form>

<!-- ABOUT FORM -->
<form name="aboutForm" novalidate>
  <div class="form-group" ng-class="{ 'has-error' : aboutForm.abouttext.$invalid && !aboutForm.abouttext.$pristine }">
    <label>About-Text</label>
    <input type="text" class="form-control" name="abouttext" ng-model="about.aboutText" required>
  </div>

  <div class="form-group" ng-class="{ 'has-error' : aboutForm.aboutUrl.$invalid && !aboutForm.aboutUrl.$pristine }">
    <label>About-imaget</label>
    <input type="text" class="form-control" name="aboutUrl" ng-model="about.aboutUrl" required>
  </div>

  <button type="submit" class="btn btn-warning btn-lg" ng-click="about.submit(aboutForm.$valid)" ng-disabled="aboutForm.$invalid">Submit</button>
</form>

<!-- CONTACT FORM-->

<form name="contactForm" novalidate>
  <div class="form-group"  ng-class="{'has-error' : contactForm.contacttext.$invalid && !contactForm.contacttext.$pristine }"> 
    <label>Contact</label>
    <input type="text" class="form-control" name="contacttext" ng-model="contact.contactText" required>
  </div>

   <div class="form-group"  ng-class="{'has-error' : contactForm.contactUrl.$invalid && !contactForm.contactUrl.$pristine }"> 
    <label>Contact-image</label>
    <input type="text" class="form-control" name="contactUrl" ng-model="contact.contactUrl" required>
  </div>
  <button type="submit" class="btn btn-warning btn-lg" ng-click="contact.submit(contactForm.$valid)" ng-disabled="contactForm.$invalid ">Submit</button>
</form>

<!-- PRODUCT FORM-->

<form name="productForm" novalidate>
  <div class="form-group" ng-class="{ 'has-error' : productForm.produttext.$invalid && !productForm.produttext.$pristine }">
    <label>Product</label>
    <input type="text" class="form-control" name="producttext" ng-model="product.name" required>
  </div>

  <div class="form-group" ng-class="{ 'has-error' : productForm.produtDescription.$invalid && !productForm.produtDescription.$pristine }">
    <label>Product-description</label>
    <input type="text" class="form-control" name="productDescription" ng-model="product.description" required>
  </div>

  <div class="form-group" ng-class="{ 'has-error' : productForm.produtUrl.$invalid && !productForm.produtUrl.$pristine }">
    <label>Product-image</label>
    <input type="text" class="form-control" name="productUrl" ng-model="product.url" required>
  </div>

  <button type="submit" class="btn btn-warning btn-lg" ng-click="product.submit(productForm.$valid)" ng-disabled="productForm.$invalid">Submit</button>
</form>

</div>
