<div class="col-sm-12 col-sm-offset-0">
  
  <div class="row top-buffer">
    <div class="col-sm-4 col-sm-offset-10">
      <button class="btn btn-xs" ng-click="admin.logout()" >logout</button>
    </div>
  </div>
  
    <ul ng-repeat="someAdmin in admins">
      <div class="row top-buffer">
	<div class="col-sm-4">
	  <li>{{ someAdmin }}</li>
	</div>
	<div class="col-sm-4">
	  <button class="btn btn-xs " ng-click="admin.delete(someAdmin)">delete</button>
	</div>
      </div>      
    </ul>
     
    <!-- REGISTER FORM -->
    <div class="row top-buffer">
      <div class="col-sm-4 col-sm-offset-4">

	<button class="btn btn-sm" togglemouseenteradmin >add an admin</button>
	
	<form ng-show="admin.edit" name="addAdminForm" novalidate>
      
	 <div class="form-group" ng-class="{ 'has-error' : addAdminForm.email.$invalid && !addAdminForm.email.$pristine}">
	   <label>Email</label>
	   <input type="email" class="form-control" name="email" ng-model="admin.email" required>
	   <p ng-show="addAdminForm.email.$invalid && !addAdminForm.email.$pristine" class="help-block">enter a valid email.</p>
	 </div>
      
	 <div class="form-group" ng-class="{ 'has-error' : addAdminForm.password.$invalid && !addAdminForm.password.$pristine }">
	   <label>Password</label>
	   <input type="password" class="form-control" name="password" ng-model="admin.password" ng-minlength="3" ng-maxlength="20" required>
	   <p ng-show="addAdminForm.password.$error.minlength" class="help-block">Password is too short.</p>
	   <p ng-show="addAdminForm.password.$error.maxlength" class="help-block">Password is too long.</p>
	 </div>

	 <button type="submit" toggleclickadmin class="btn" ng-click="admin.submit(addAdminForm.$valid)" ng-disabled="addAdminForm.$invalid">Register</button>
       </form>
     </div>
    </div>
  
    <!-- HOME FORM -->
    
    <div class="row top-buffer">
     
      <div class="col-sm-4">
	<button class="btn btn-sm" togglemouseenterhome>edit home</button> 
	<form ng-show="home.edit" name="homeForm" novalidate>
	  <div class="form-group" ng-class="{ 'has-error' : homeForm.hometext.$invalid && !homeForm.hometext.$pristine} ">
	    <label>Home</label>
	    <input type="text" class="form-control" name="hometext" ng-model="home.homeText" required>
	  </div>
	
	  <div class="form-group" ng-class="{ 'has-error' : homeForm.homeUrl.$invalid && !homeForm.homeUrl.$pristine} ">
	    <label>Home image</label>
	    <input type="text" class="form-control" name="homeUrl" ng-model="home.homeUrl" required>
	  </div>
  
	  <button type="submit" toggleclickhome class="btn" ng-click="home.submit(homeForm.$valid)" ng-disabled="homeForm.$invalid">Submit</button>  
	</form>
      </div>

      <!-- ABOUT FORM -->
      <div class="col-sm-4">
	<button class="btn btn-sm" togglemouseenterabout>edit about</button>
	<form  ng-show="about.edit" name="aboutForm" novalidate>
	  <div class="form-group" ng-class="{ 'has-error' : aboutForm.abouttext.$invalid && !aboutForm.abouttext.$pristine }">
	    <label>About-Text</label>
	    <input type="text" class="form-control" name="abouttext" ng-model="about.aboutText" required>
	  </div>
    
	  <div class="form-group" ng-class="{ 'has-error' : aboutForm.aboutUrl.$invalid && !aboutForm.aboutUrl.$pristine }">
	    <label>About-image</label>
	    <input type="text" class="form-control" name="aboutUrl" ng-model="about.aboutUrl" required>
	  </div>
    
	  <button type="submit" toggleclickabout class="btn" ng-click="about.submit(aboutForm.$valid)" ng-disabled="aboutForm.$invalid">Submit</button>
	</form>
      </div>

      <!-- CONTACT FORM-->
      <div class="col-sm-4" >
	<button class="btn btn-sm" togglemouseentercontact>edit contact</button>
	<form  ng-show="contact.edit" name="contactForm" novalidate>
	  <div class="form-group"  ng-class="{'has-error' : contactForm.contacttext.$invalid && !contactForm.contacttext.$pristine }"> 
	    <label>Contact</label>
	    <input type="text" class="form-control" name="contacttext" ng-model="contact.contactText" required>
	  </div>

	  <div class="form-group"  ng-class="{'has-error' : contactForm.contactPhone.$invalid && !contactForm.contactPhone.$pristine }"> 
	    <label>Contact-image</label>
	    <input type="text" class="form-control" name="contactPhone" ng-model="contact.contactPhone" required>
	  </div>
    
	  <div class="form-group"  ng-class="{'has-error' : contactForm.contactEmail.$invalid && !contactForm.contactEmail.$pristine }"> 
	    <label>Contact-image</label>
	    <input type="text" class="form-control" name="contactEmail" ng-model="contact.contactEmail" required>
	  </div>
  
	  <div class="form-group"  ng-class="{'has-error' : contactForm.contactAddress.$invalid && !contactForm.contactAddress.$pristine }"> 
	    <label>Contact-image</label>
	    <input type="text" class="form-control" name="contactAddress" ng-model="contact.contactAddress" required>
	  </div>

	  <div class="form-group"  ng-class="{'has-error' : contactForm.contactUrl.$invalid && !contactForm.contactUrl.$pristine }"> 
	    <label>Contact-image</label>
	    <input type="text" class="form-control" name="contactUrl" ng-model="contact.contactUrl" required>
	  </div>
	  <button type="submit" toggleclickcontact class="btn" ng-click="contact.submit(contactForm.$valid)" ng-disabled="contactForm.$invalid ">
	    Submit
	  </button>
	  
	</form>
      </div>
    </div>

    <div class="row top-buffer">  
      
      <!-- FORM-->
      <div class="col-sm-6">

	<ul ng-repeat="someProduct in products">
	  <div class="row top-buffer"> 
	    <div class="col-sm-4">   
	      <li> {{ someProduct.name }} </li>
	    </div>
	    <div class="col-sm-4">
	      <button class="btn btn-xs" ng-click="product.delete(someProduct)">delete</button>
	    </div>
	  </div>
	</ul>

	<button class="btn btn-sm" togglemouseenterproduct> add  product </button>
	<form ng-show="product.edit" name="productForm" novalidate>
	  <div class="form-group" ng-class="{ 'has-error' : productForm.produttext.$invalid && !productForm.produttext.$pristine }">
	    <label>Product</label>
	    <input type="text" class="form-control" name="producttext" ng-model="product.name" required>
	  </div>

	  <div class="form-group" ng-class="{ 'has-error' : productForm.produtDescription.$invalid && !productForm.produtDescription.$pristine }">
	    <label>Product-description</label>
	    <input type="text" class="form-control" name="productDescription" ng-model="product.description" required>
	  </div>

	  <div class="form-group" ng-class="{ 'has-error' : productForm.produtUrl.$invalid && !productForm.produtUrl.$pristine }">
	    <label>Product-image</label>
	    <input type="text" class="form-control" name="productUrl" ng-model="product.url" required>
	  </div>

	  <button type="submit" toggleclickproduct class="btn  btn-lg" ng-click="product.submit(productForm.$valid)" ng-disabled="productForm.$invalid">
	    Submit
	  </button>
	  
	</form>
      </div>

      <!-- Form-->
      <div class="col-sm-6">
	
	 <ul ng-repeat="someClient in clients">
	   <div class="row top-buffer">
	     <div class="col-sm-2">
	       <li>{{ someClient.name }}</li>
	     </div>
	     <div class="col-sm-2">
	       <button class="btn btn-xs" ng-click="client.delete(someClient)">delete</button>    
	     </div>
	   </div>
	 </ul>

	<button class="btn btn-sm" togglemouseenterclient> add client </button>
	<form ng-show="client.edit" name="clientForm" novalidate>
	  <div class="form-group" ng-class="{ 'has-error' : clientForm.clienttext.$invalid && !clientForm.clienttext.$pristine }">
	    <label>Client</label>
	    <input type="text" class="form-control" name="clienttext" ng-model="client.name" required>
	  </div>

	  <div class="form-group" ng-class="{ 'has-error' : clientForm.clientDescription.$invalid && !clientForm.clientDescription.$pristine }">
	    <label>Product-description</label>
	    <input type="text" class="form-control" name="clientDescription" ng-model="client.description" required>
	  </div>
    
	  <div class="form-group" ng-class="{ 'has-error' : clientForm.clientUrl.$invalid && !clientForm.clientUrl.$pristine }">
	    <label>Product-image</label>
	    <input type="text" class="form-control" name="clientUrl" ng-model="client.url" required>
	  </div>

	  <button type="submit" toggleclickclient class="btn  btn-lg" ng-click="client.submit(clientForm.$valid)" ng-disabled="clientForm.$invalid">
	    Submit
	  </button>
 
	</form>
      </div>
    </div>
</div>
